name: QA Deploy to EC2 (Production)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1️⃣ Create env file
      - name: Create .env
        run: |
          echo "NEXT_PUBLIC_APP_URL=${{ secrets.NEXT_PUBLIC_APP_URL }}" >> .env
          echo "NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}" >> .env
          echo "NEXT_PUBLIC_CDN_URL=${{ secrets.NEXT_PUBLIC_CDN_URL }}" >> .env

      # 2️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t munia-prod .

      # 3️⃣ Save image
      - name: Save Docker image
        run: docker save munia-prod | gzip > munia-prod.tar.gz

      # 4️⃣ Copy image to EC2
      - name: Copy image to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: 'munia-prod.tar.gz'
          target: '/home/ubuntu/'

      # 5️⃣ Run Docker on EC2
      - name: Deploy & Run on EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker load < munia-prod.tar.gz
            docker stop munia-prod || true
            docker rm munia-prod || true
            docker run -d \
              --name munia-prod \
              --env-file .env \
              -p 3002:3002 \
              --restart always \
              munia-prod

      - name: Purge BunnyCDN cache
        run: |
          curl -X POST \
          "https://bunnycdn.com/api/pullzone/${{ secrets.BUNNYCDN_PULLZONE_ID }}/purgeCache" \
          -H "AccessKey: ${{ secrets.BUNNYCDN_API_KEY }}"
